# Writing data to and reading data from a Database using Python

## Libraries and settings

In [1]:
# Libraries
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/data_analytics/Week_02

## Create sqlite data base

In [2]:
# Create data base
conn = sqlite3.connect('supermarket_database.db') 
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

supermarket_database.db
apartment_database.db

## Create SQL-table in the database

In [4]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS supermarket_table (
    Type VARCHAR(50),
    Id INT PRIMARY KEY,
    Lat DECIMAL(10, 7),
    Lon DECIMAL(10, 7),
    Brand VARCHAR(100),
    Shop VARCHAR(100),
    City VARCHAR(100),
    Street VARCHAR(100),
    Housenumber VARCHAR(50),
    Postcode INT)
''')

# Confirm changes to the table
conn.commit()

## Read data from file to data frame

In [5]:
df = pd.read_csv('supermarkets_data_prepared.csv', 
                  sep=',', 
                  encoding='utf-8')[['type', 'id', 'lat', 'lon', 'brand','shop','city','street','housenumber','postcode']]
print(df.shape)
df.head(10)

(3392, 10)

,type,id,lat,lon,brand,shop,city,street,housenumber,postcode
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,NaN
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,Zürcherstrasse,25,8730.0
2,node,39768209,47.225069,8.969981,Coop,supermarket,Uznach,NaN,NaN,8730.0
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,Bahnhofbrücke,1,8001.0
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,Wengistrasse,7,8004.0
5,node,60271452,47.406671,9.305450,NaN,supermarket,NaN,NaN,NaN,NaN
6,node,70656485,47.491253,8.733981,NaN,supermarket,NaN,NaN,NaN,NaN
7,node,70656488,47.491874,8.706448,Migros,supermarket,Winterthur,Zürcherstrasse,102,8406.0
8,node,75749133,47.340967,8.530601,ALDI,supermarket,Zürich,Albisstrasse,81,8038.0
9,node,79977755,47.340070,8.530546,Coop,supermarket,Zürich,Alte Kalchbühlstrasse,15,8038.0

## Write data to the SQL-table in data base

In [6]:
df.to_sql(name = 'supermarket_table',
          con = conn,
          index = False,
          if_exists = 'replace')

3392

## Query the SQL-table

In [19]:
cursor.execute('''
    SELECT Brand, City
    FROM supermarket_table
    WHERE city = 'Winterthur'
    ''')

df = pd.DataFrame(cursor.fetchall(), columns=['Brand', 'City'])
df

            Brand        City
0          Migros  Winterthur
1          Migros  Winterthur
2          Migros  Winterthur
3            None  Winterthur
4            None  Winterthur
5            None  Winterthur
6          Migros  Winterthur
7          Denner  Winterthur
8          Migros  Winterthur
9          Migros  Winterthur
10           None  Winterthur
11           ALDI  Winterthur
12           None  Winterthur
13           None  Winterthur
14           None  Winterthur
15           None  Winterthur
16       Alnatura  Winterthur
17         Migros  Winterthur
18         Migros  Winterthur
19           None  Winterthur
20           Coop  Winterthur
21  Migros-Outlet  Winterthur
22           None  Winterthur
23         Migros  Winterthur
24         Denner  Winterthur
25           ALDI  Winterthur
26           None  Winterthur

## Close db connection (if open)

In [20]:
# Close db connection (if open)
try:
    if check_conn(conn):
        conn.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(conn))

False

In [21]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 6.2.0-1016-azure
Datetime: 2023-12-12 17:41:28
Python Version: 3.10.13
-----------------------------------